<%= form_tag(metadatum_path(presenter.labware.process_metadatum_collection.uuid), method: "put", id: 'metadata-form') do%>
  <%= hidden_field_tag 'path', path %>

  <%= render(partial: 'metadata/header', :locals => { :presenter => @presenter}) %>

  <div class='metadata'>
    <%unless presenter.labware.process_metadatum_collection.metadata.blank?%>
      <% presenter.labware.process_metadatum_collection.metadata.each_with_index do |metadatum, index| %>
        <div id="metadatum<%=index+1%>" class="ui-grid-b">
          <div class='ui-block-a'>
            <%= text_field_tag 'metadata[][key]', metadatum[0]  %>
          </div>
          <div class='ui-block-b'>
            <%= text_field_tag 'metadata[][value]', metadatum[1]  %>
          </div>
          <div class='ui-block-c'>
            <%= link_to 'remove', "#", class: "remove_metadatum" %>
          </div>
        </div>
      <%end%>
    <%else%>
      <div id="metadatum1" class="ui-grid-b">
        <div class='ui-block-a'>
          <%= text_field_tag 'metadata[][key]' %>
        </div>
        <div class='ui-block-b'>
          <%= text_field_tag 'metadata[][value]' %>
        </div>
        <div class='ui-block-c'>
          <%= link_to 'remove', "#", class: "remove_metadatum" %>
        </div>
      </div>
    <%end%>
  </div>

  <%= render(partial: 'metadata/footer') %>

<% end %>