
  <div id="metadatum_title" class="ui-grid-b">
    <%= label_tag :key, nil, class: 'ui-block-a' %>
    <%= label_tag :value, nil, class: 'ui-block-b' %>
  </div>
  <div style="display: none;">
    <div id="metadatum-template" class="ui-grid-b">
      <div class='ui-block-a'>
        <%= select_tag 'metadata[][key]', options_for_select(presenter.metadata_key_options), 'data-role' => 'none' %>
      </div>
      <div class='ui-block-b'>
        <%= text_field_tag 'metadata[][value]' %>
      </div>
      <div class='ui-block-c'>
        <%= link_to 'remove', "#", class: "remove_metadatum" %>
      </div>
    </div>
  </div>