<%= form_tag(metadata_path, method: "post") do%>
  <%= hidden_field_tag 'asset_id', @presenter.labware.uuid %>
  <div id="metadatum_title" class="ui-grid-b">
    <%= label_tag :key, nil, class: 'ui-block-a' %>
    <%= label_tag :value, nil, class: 'ui-block-b' %>
  </div>
  <div class="metadata">
    <div id="metadatum1" class="ui-grid-b">
      <div class='ui-block-a'>
        <%= text_field_tag 'metadata[][key]' %>
      </div>
      <div class='ui-block-b'>
        <%= text_field_tag 'metadata[][value]' %>
      </div>
      <div class='ui-block-c'>
        <%= link_to 'remove', "#", class: "remove_metadatum" %>
      </div>
    </div>
    <%= link_to "Add metadatum", "#", class: "add_metadatum" %>
  </div>
  <div class="ui-grid-b">
    <div class='ui-block-b'>
      <%= submit_tag "Save" %>
    </div>
  </div>

<% end %>